<%- include("partials/header", {active:"employee"}) -%>
<div class="container">
  <h1>Kadromuz</h1>
  <hr />

  <br />
  <h3 class="staff-rank">Yönetim Kadrosu</h3>

  <div class="row">
    <div class="col-3 mx-auto">
      <div class="card p-1" style="max-width: 15rem">
        <img
          class="card-img-top"
          src="images/Stuff/<%= foundStuff[0][0]._id %>.jpg"
          alt="Card image cap"
          height="250px"
        />
        <div class="card-body">
          <h5 class="card-title"><%= foundStuff[0][0].name %></h5>
          <p class="card-text"><%= foundStuff[0][0].department %></p>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
  <h3 class="staff-rank">Eğitim Kadrosu</h3>
  <hr />

  <% for(var i = 0; i < foundStuff[1].length; i++) { %> <% if (i === 0 || i % 4
  === 0) { %>

  <div class="row">
    <% } %>
    <div class="col-md-3">
      <div class="card p-1" style="max-width: 15rem">
        <img
          class="card-img-top"
          src="images/Stuff/<%= foundStuff[1][i]._id %>.jpg"
          alt="Card image cap"
          height="250px"
        />
        <div class="card-body">
          <h5 class="card-title"><%= foundStuff[1][i].name %></h5>
          <p class="card-text"><%= foundStuff[1][i].department %></p>
        </div>
      </div>
    </div>

    <% if (i === 3 || i % 4 === 3) { %>
  </div>
  <% }%>
   <% } %>

  <br />
  <br />
  <h3 class="staff-rank">Personel Kadrosu</h3>
  <hr />
  <% for(var i = 0; i < foundStuff[2].length; i++) { %> 
    <% if (i === 0 || i % 4 === 0) { %>

  <div class="row">
    <% } %>
    <div class="col-md-3">
      <div class="card p-1" style="max-width: 15rem">
        <img
          class="card-img-top"
          src="images/Stuff/<%= foundStuff[2][i]._id %>.jpg"
          alt="Card image cap"
          height="250px"
        />
        <div class="card-body">
          <h5 class="card-title"><%= foundStuff[2][i].name %></h5>
          <p class="card-text"><%= foundStuff[2][i].department %></p>
        </div>
      </div>
    </div>

    <% if (i === 3 || i % 4 === 3) { %>
  </div>
  <% }%>
   <% } %>
</div>
<%- include("partials/footer") -%>
