<%- include("partials/header" , {active:"home"}) -%>
<div class="carousel-container">
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li
        data-target="#carouselExampleCaptions"
        data-slide-to="0"
        class="active"
      ></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a href="/zihinsel"
          ><img
            src="images/zihinselengeliler.jpg"
            class="d-block w-100"
            alt="..."
        /></a>

        <div class="carousel-caption d-none d-md-block">
          <h5>Zihinsel Engelli Bireyler Destek Eğitim Programı</h5>
        </div>
      </div>
      <div class="carousel-item">
        <a href="/yaygin"
          ><img
            src="images/gelisimselbozukluk.jpg"
            class="d-block w-100"
            alt="..."
        /></a>

        <div class="carousel-caption d-none d-md-block">
          <h5>
            Yaygın Gelişimsel Bozukluklar
          </h5>
          <h5>
            Destek Eğitim Programı
          </h5>
        </div>
      </div>
      <div class="carousel-item">
        <a href="/isitme"
          ><img src="images/isitme.jpg" class="d-block w-100" alt="..."
        /></a>

        <div class="carousel-caption d-none d-md-block">
          <h5>İşitme Engelli Bireyler Destek Eğitim Programı</h5>
        </div>
      </div>
      <div class="carousel-item">
        <a href="/bedensel"
          ><img src="images/bedensel.jpg" class="d-block w-100" alt="..."
        /></a>

        <div class="carousel-caption d-none d-md-block">
          <h5>
            Bedensel Engelli Bireyler Destek Eğitim Programı
          </h5>
        </div>
      </div>

      <div class="carousel-item">
        <a href="/ozgul"><img src="images/ogrenme3.jpg" class="d-block w-100" alt="..." /></a>
      
        <div class="carousel-caption d-none d-md-block">
          <h5>
            Özgül Öğrenme Güçlüğü Destek Eğitim Programı
          </h5>
        </div>
      </div>

    </div>
    <a
      class="carousel-control-prev"
      href="#carouselExampleCaptions"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="carousel-control-next"
      href="#carouselExampleCaptions"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<div class="container">
  <p><%= content %></p>

  <%posts.forEach(function(post){ %>
  <hr />
  <h2><%= post.title %></h2>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4 col-2" id="left">
        <img src="<%= post.image  %>" width="300px" alt="" />
      </div>
      <div class="col-sm-8 col-2" id="right">
        <p>
          <%= post.content %> ...
          <a href="/<%=post.tag%>">Daha fazla oku</a>
        </p>
      </div>
    </div>
  </div>

  <% }); %>

  <hr />
  <h2>Biz Kimiz?</h2>
  <p>
    Eğitim merkezimizin kuruluşunda benimsediğimiz ilke ulu önder M. Kemal
    Atatürk’ün <i>“Eğitimde feda edilecek tek bir fert yoktur.”</i> sözüdür. Bu
    söz aynı zamanda okulumuzun vizyonunu da ifade etmektedir. Yetersizliği olan
    bireylerin topluma kazandırılmasını sağlamak, bağımsız yaşayabilmelerine
    destek vermek, bu süreçte kendilerine ve ailelerine rehberlik etmek ise
    benimsediğimiz misyonumuzdur.
  </p>
  <p>
    Çocuklarımız için, geleceğimiz için, birlikte başarmak için; merkezimizi
    bizzat gelip görmeniz ve sizinle tanışmamız bizleri mutlu edecektir.
    Çocuğunuzun geleceği için bizlere bir saat zamanınızı ayırmanız demek, belki
    de onun yaşamında çok şeyin değişmesi demektir. İnanın bizimle görüştükten
    sonra daha önce neleri kaybettiğinizi ve bundan sonra neleri kazanacağınızı
    anlayacaksınız. Hizmetlerini deneyimli ve konusunda uzman kadrosuyla kat kat
    fazlasıyla sunan merkezimiz, yılların tecrübesiyle sizin her zaman
    yanınızda.
  </p>

  <a href="/about">Hakkımızda Daha Fazla Bilgi Edinmek için...</a>
  
  
  <%-include("partials/footer") -%>
</div>
